<p>Hi {{name}},<br /> <br />
  A message has reached us in which we have been informed that you are interested in receiving the SoCraTes newsletter.</p>
<p>If this message does not come from you, you can ignore this email.</p>
<p>If you do not confirm within the next seven days, the newsletter will not be sent to you and the data for the newsletter subscription will be deleted.</p>
<p>Due to the EU data protection regulation (EUdataP) and the German Datenschutzgesetz (DSG), if you want to receive the newsletter, you must declare your agreement in an unequivocal way. To achieve this we ask you to give your consent on the <a href="https://www.socrates-conference.de/newsletter-confirm/{{consentKey}}" title="Confirmation page">confirmation page</a>.</p>
<p>Thank you for trusting us, and see you soon at one of the growing number of SoCraTes conferences,</p>
<p>The SoCraTes Organization Team</p>
<hr />
<h6>Information Provided as Mandated by Article 13 GDPR</h6>
<small>If this is your first interaction with us, Art. 12, 13 GDPR mandates that we make available to you the following mandatory data protection related information:<br />
  If you are contacting us via e-mail, we will process your personal data only if we have a legitimate interest in the processing of this data  (Art. 6 Sect. 1 lit. f GDPR), if you have consented to the processing of your data (Art. 6 Sect. 1 lit. a GDPR), if the processing of the data is required for the development, establishment, content or modification of a legal relationship between you and us (Art. 6 Sect. 1 lit. b GDPR) or if any other legal provision permits the processing of this data.<br />
  Your personal data will remain in our possession until you ask us to delete the data or you revoke your consent to store the data or if the purpose the data stored is required for no longer exists (e.g. once your request has been conclusively processed).<br />
  This shall be without prejudice to any compelling statutory provisions – in particular tax and commercial law based retention periods.<br />
  You have the right to at any time receive free information concerning the origins, recipients and purpose of your data archived by us.<br />
  You also have a right to object, to data portability and a right to log a complaint with the competent supervisory agency.<br />
  Moreover, you can demand the correction, eradication and, under certain circumstances, the restriction of the processing of your personal data.</small>
<small>For more details, please consult our <a href="https://www.socrates-conference.de/privacy-policy" title="Privacy policy">Data Privacy Policy</a> (in German and English).
</small>
