<p>Hi {{name}},<br/><br/>

  thank you again for subscribing to our newsletter.</p>
<p>Don&apos;t worry - we are not going to bother you with a lot of spam. In fact, you will only receive post from us, if
  there is something interesting or important at SoCraTes going on.</p>
<p>We sent it just to inform you that:</p>
<p>Your have confirmed and given consent to the processing of your personal data for the SoCraTes newsletter.<br/>
  You have the right to withdraw your consent or unsubscribe the newsletter at any time, you can do so by visiting <a
      href="https://socrates-conference.de/newsletter-sign-out/{{email}}" title="sign out">the sign out page</a>.</p>
<p>We promise not to give your data to anyone outside of SoCraTes.</p>
<p>Thank you for trusting us, and see you soon at one of the growing number of SoCraTes conferences</p>
<p>The SoCraTes Organization Team</p>
<hr/>
<h6>Information Provided as Mandated by Article 13 GDPR</h6>
<small>If this is your first interaction with us, Art. 12, 13 GDPR mandates that we make available to you the following
  mandatory data protection related information:<br/>
  If you are contacting us via e-mail, we will process your personal data only if we have a legitimate interest in the
  processing of this data (Art. 6 Sect. 1 lit. f GDPR), if you have consented to the processing of your data (Art. 6
  Sect. 1 lit. a GDPR), if the processing of the data is required for the development, establishment, content or
  modification of a legal relationship between you and us (Art. 6 Sect. 1 lit. b GDPR) or if any other legal provision
  permits the processing of this data.<br/>
  Your personal data will remain in our possession until you ask us to delete the data or you revoke your consent to
  store the data or if the purpose the data stored is required for no longer exists (e.g. once your request has been
  conclusively processed).<br/>
  This shall be without prejudice to any compelling statutory provisions – in particular tax and commercial law based
  retention periods.<br/>
  You have the right to at any time receive free information concerning the origins, recipients and purpose of your data
  archived by us.<br/>
  You also have a right to object, to data portability and a right to log a complaint with the competent supervisory
  agency.<br/>
  Moreover, you can demand the correction, eradication and, under certain circumstances, the restriction of the
  processing of your personal data.</small>
<small>For more details, please consult our <a href="https://www.socrates-conference.de/privacy-policy"
                                               title="Privacy policy">Data Privacy Policy</a> (in German and English).
</small>