@import './colors';
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "PT Serif Caption", "Times New Roman", serif;
  font-size: 1em;
  background-color: $body-bg;
}

:root {
  --amplify-font-family: "PT Serif Caption", "Times New Roman", serif;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.custom-switch {
  padding-left:1rem;
}

.btn-info-light {
  background-color: #26cfd8 !important;
}